/*Start Global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Fascinate", sans-serif;
  color: #041a32;
}

body {
  width: 100%;
  height: 100%;
  background-image: url(../images/background_mauve.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  text-decoration: none;
  color: #041a32;
  font-family: "Fascinate", sans-serif;
}

p {
  font-size: 1.8rem;
  font-weight: 300;
}

img {
  width: 100%;
}
/*End global*/

header {
  font-family: "Fascinate", sans-serif;
  width: 100%;
  background-color: #041a32;
  height: 150px;
}

.nav {
  width: 100%;
  display: inline-block;
  z-index: 3;
}

#logo_nav {
  width: 80px;
  height: auto;
  /* ALIGN???? SHOULD BE IN THE CENTER */
  margin: 8px auto;
  display: block;
}

.nav-list ul {
  list-style: none;
  text-align: center;
}

.nav-list ul li {
  display: inline-block;
  padding: 0 8px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 1;
  /* needs to go in the center */
}

.nav-list ul li a {
  text-decoration: none;
  color: #ae6171;
  /* when you want to click on the link the hand appears not only when you hover over text but also around */
}

@media only screen and (min-width: 900px) {
  header {
    height: 100px;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  #logo_nav {
    margin: 10px 20px 10px 30px;
  }
}

/*MAIN*/

.banner1 {
  background-image: url(../images/banner1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 300px;
  z-index: 1;
}

.banner1 h2 {
  font-family: Poiret One, italic;
  color: #041a32;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  padding: 102px 0 0 16px;
}

.banner1 button {
  background-color: #041a32;
  border-color: black;
  border-radius: 4px;
  margin: 16px 0 0 16px;
}

.banner1 button a {
  color: #ae6171;
  font-size: 24px;
  padding: 16px;
}

.banner2 {
  background-image: url(../images/bakery1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 500px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner2 h1 {
  font-family: "Fascinate", sans-serif;
  color: #ae6171;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 0px 0px 20px #000000;
}

@media only screen and (min-width: 750px) {
  .banner1 {
    height: 400px;
  }

  .banner1 h2 {
    font-size: 40px;
    padding-left: 80px;
    padding-top: 150px;
    padding-bottom: 16px;
  }

  .banner1 button {
    margin: 80px;
    margin-top: 0;
  }
}

@media only screen and (min-width: 900px) {
  .banner1 {
    height: 500px;
  }

  .banner1 h2 {
    font-size: 48px;
    padding-left: 200px;
    padding-top: 150px;
    padding-bottom: 16px;
  }

  .banner1 button {
    margin: 200px;
    margin-top: 0;
  }

  .banner1 button a:hover {
    color: white;
  }

  .banner2 h1 {
    font-size: 48px;
  }
}

#page_logo {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* FOOTER */

footer {
  background-color: #041a32;
  color: #ae6171;
  font-family: 'Fascinate', cursive;
  font-size: 16px;
  width: 100%;
  padding: 10px;
}

.SMlinks, .action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer .SMlinks a img {
  display: inline-block;
  width: auto;
  height: 24px;
}

.action a {
  color: #ae6171;
}

.action .subscribe_button {
  font-size: 16px;
  color: #ae6171;
  background-color: #041a32;
  border: none;
  font-family: 'Fascinate', cursive;
}

@media only screen and (min-width: 750px) {
  footer {
    display:flex;
    justify-content: space-between;
    padding: 0px;
  }

  .SMlinks, .action {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .action {
    padding-right: 20px;
    align-items: flex-end;
  } 

  .SMlinks {
    padding-left: 20px;
    align-items: flex-start;
  }
}