* {
    margin: 0;
    padding: 0;
}
body {
    background-color: pink;
}

footer {
    background-color: black;
    display:flex;
    justify-content: space-between;
}

.SMlinks, .action {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.SMlinks {
    padding-left: 20px;
}

footer .SMlinks a img {
    width: auto;
    height: 50px;
    
}

.action {
    padding-right: 20px;
    font-size: 45px;
    text-align: right;
}

.action a {
    color: pink;
    text-decoration: none;
}

.action .subscribe_button {
    font-size: 45px;
    color: pink;
    background-color: black;
    border: none;
}
